<!DOCTYPE html>
<html lang="ko">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트</title>
    <link rel="sssashortcut icon" href="/images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/event.css}">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                selectable: true,
                dayMaxEventRows: true, // for all non-TimeGrid views
                googleCalendarApiKey: 'AIzaSyC2lsCQQHs9FrEcDnGhbBj2kVYhSKS6QoE',
                eventSources: [
                    {
                        googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
                        className: '대한민국의 휴일',
                        //color: '#e70000', //rgb,#ffffff 등의 형식으로 할 수 있어요.
                        //textColor: 'black'
                    },
                    {
                        googleCalendarId: '689703ab7777f007cee66cfa6434061bb5f6eab9b05bbbf4a465010c41e6c7b1@group.calendar.google.com',
                        className: 'Farmstory',
                        //color: '#3fb193', //rgb,#ffffff 등의 형식으로 할 수 있어요.
                        //textColor: 'black'
                    }],
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today'
                },
                //클릭 이벤트들
                dateClick: function(info) {
                    alert('clicked ' + info.dateStr);
                },

                // select: function(info) {
                //     alert('selected ' + info.startStr + ' to ' + info.endStr);
                // }
                views: {
                    timeGrid: {
                        dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                }
            });

            calendar.render();
        });
    </script>
    <!-- 화면당 적용할 CSS만 추가하면됨 -->
</head>
<body>
<div id="wrapper">
    <th:block th:include ="/grid/_header.html"/>
    <th:block th:include ="/grid/_aside_et.html"/>
<title>글목록</title>
<link rel="stylesheet" href="../css/event.css">
  						<div id="container">
                            <section class="calendar">
                                <div id='calendar'></div>
                            </section>
                         </div>
                    </div><!-- .articleIn -->
                </article><!-- .article -->
            </section>
        </main><!-- #main -->
    <th:block th:include ="/grid/_footer.html"/>
</body>
