<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>농작물이야기</title>
    <link rel="sssashortcut icon" href="/images/fav.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/croptalk.css}">
    <!-- 화면당 적용할 CSS만 추가하면됨 -->

    <script th:inline="javascript">
        var cate = /*[[${cate}]]*/ 'b201'
        console.log(cate)

    </script>
</head>

<body>
<div id="container">
    <th:block th:include ="/grid/_header.html"/>
    <th:block th:include ="/grid/_aside_ct.html"/>

                    <section class="list">
                        <h3>글목록</h3>

                        <article>
                            <table border="0">
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>글쓴이</th>
                                    <th>날짜</th>
                                    <th>조회</th>
                                </tr>
                                <tr th:each="article : ${articles}">
                                    <td>[[${article.artNo}]]</td>
                                    <td><a th:href="@{|/crop/CropStory/CropView/${article.artNo}|}">[[${article.artTitle}]]&nbsp;&#91;[[${article.artComment}]]&#93;</a></td>
                                    <td>[[${article.artNick}]]</td>
                                    <td>[[${article.artRdate}]]</td>
                                    <td>[[${article.artHit}]]</td>
                                </tr>
                            </table>
                        </article>

                        <form th:action="@{/crop/CropStory}" class="search">
                            <select name="type">
                                <option value="title">제목</option>
                                <option value="content">내용</option>
                                <option value="title_content">제목+내용</option>
                                <option value="writer">글쓴이</option>
                            </select>

                            <input type="text" name="search" placeholder="제목 키워드, 글쓴이 검색">
                            <input type="submit" value="검색">
                        </form>

<!--                        <div class="page">-->

<!--                            <th:block th:if="${ArticlePageResponseDTO.prev}">-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword == null}"-->
<!--                                   th:href="@{/crop/CropStory(pg=${ArticlePageResponseDTO.start-1})}" class="prev">이전</a>-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword != null}"-->
<!--                                   th:href="@{/crop/CropStory(pg=${ArticlePageResponseDTO.start-1}, type=${ArticlePageResponseDTO.type}, keyword=${ArticlePageResponseDTO.keyword})}" class="prev">이전</a>-->
<!--                            </th:block>-->

<!--                            <th:block th:each="num:${#numbers.sequence(ArticlePageResponseDTO.start, ArticlePageResponseDTO.end)}">-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword == null}"-->
<!--                                   th:href="@{/crop/CropStory(pg=${num})}"-->
<!--                                   th:class="${num == ArticlePageResponseDTO.pg} ? 'current' : 'num'">[[${num}]]</a>-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword != null}"-->
<!--                                   th:href="@{/crop/CropStory(pg=${num}, type=${ArticlePageResponseDTO.type}, keyword=${ArticlePageResponseDTO.keyword})}"-->
<!--                                   th:class="${num ==  ArticlePageResponseDTO.pg} ? 'current' : 'num'">[[${num}]]</a>-->
<!--                            </th:block>-->

<!--                            <th:block th:if="${ArticlePageResponseDTO.next}">-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword == null}" th:href="@{/crop/CropStory(pg=${ArticlePageResponseDTO.end+1})}" class="next">다음</a>-->
<!--                                <a th:if="${ArticlePageResponseDTO.keyword != null}" th:href="@{/crop/CropStory(pg=${ArticlePageResponseDTO.end+1}, type=${ArticlePageResponseDTO.type}, keyword=${ArticlePageResponseDTO.keyword})}" class="next">다음</a>-->
<!--                            </th:block>-->

<!--                        </div>-->

<!--                         페이지 네비게이션-->
                        <div class="paging">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num current">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </div>

                        <!-- 글쓰기 버튼 -->
                        <a th:href="@{/crop/CropStory/CropWrite}" class="btnWrite">글쓰기</a>
                    </section>

    </main>
    <th:block th:include ="/grid/_footer.html"/>
