<link rel="stylesheet" th:href="@{/css/footer.css}">
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/user/myinfo.css}">

<th:block th:include="user/User_myinfo_header.html"/>
    <title>MyInfo</title>
<link rel="stylesheet" th:href="@{/css/user/myinfo.css}">
<link rel="stylesheet" th:href="@{/css/common_myinfo_modify.css}">
<!--  <script th:src="@{https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>-->

	<header id="header">
		<div class="headerIn">
			<div class="topline">
				<img th:src="@{/images/head_top_line.png}" alt="topline"/>
			</div><!-- .topLine -->
			<div class="logo">
				<a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt="farmStory logo"></a>
			</div><!-- .logo -->

			<ul class="utill">
				<li><a th:href="@{/index}" id="home">HOME</a></li>
				<li th:if="${sessUser != null}">
					<a th:href="@{/logout}" id="login">로그아웃</a>
				</li>
				<li th:unless="${sessUser != null}">
					<a th:href="@{/user/UserLogin}" id="login">로그인</a>
				</li>
				<li th:if="${sessUser != null && sessUser.gradeNo == '00'}">
					<a th:href="@{/admin/index}" id="register">관리자</a>
				</li>
				<li th:if="${sessUser != null && sessUser.gradeNo != '00'}">
					<a th:href="@{/user/UserMyinfo}" id="register">마이페이지</a>
				</li>
				<li th:unless="${sessUser != null}">
					<a th:href="@{/user/UserTerms}" id="register">회원가입</a>
				</li>
				<li><a th:href="@{/community/CommunityCs}" id="cs">고객센터</a></li>
			</ul><!-- .utill -->

			<div class="h_txt">
				<img th:src="@{/images/head_txt_img.png}" alt="3만원이상 무료배송·팜카드 10%적립">
			</div><!-- .h_txt -->

			<nav class="gnb_wrap">
				<ul class="gnb">
					<li><a th:href="@{/introduction/Introduction}"><img th:src="@{/images/head_menu1.png}" alt="팜스토리소개"/></a></li>
					<li><a th:href="@{/market/MarketList}">
						<img th:src="@{/images/head_menu_badge.png}" alt="30%" class="discount"/>
						<img th:src="@{/images/head_menu2.png}" alt="장보기">
					</a></li>
					<li><a th:href="@{/crop/CropStory}"><img th:src="@{/images/head_menu3.png}" alt="농작물이야기"></a></li>
					<li><a th:href="@{/event/EventList}"><img th:src="@{/images/head_menu4.png}" alt="이벤트"></a></li>
					<li><a th:href="@{/community/CommunityNotice}"><img th:src="@{/images/head_menu5.png}" alt="커뮤니티"></a></li>
				</ul><!-- .gnb -->
			</nav><!-- .gnb_wrap -->
		</div><!-- .headerIn -->
	</header><!-- #header -->
<title>MyInfo</title>

<main>
	<div class="mainIn">
		<section class="infotable">
			<div class="sub_bg">
				<img th:src="@{/images/myinfo/myinfo_top_tit.png}" alt="MY INFO" class="sub_tit">
			</div><!-- .sub_bg -->

			<aside class="aside">
				<div class="sidebar">
					<div class="aside_cate">
						<img th:src="@{/images/myinfo/myinfo_menu_tit.png}" alt="Buying in the Market 장보기">
					</div><!-- .aside_cate -->
					<div class="aside_bg">
						<ul class="cate_lnb_real">
							<li> <a href="#">장바구니</a></li>
							<li> <a href="#">주문정보</a></li>
							<li> <a href="#">정보수정</a></li>
						</ul><!-- .cate_lnb -->
					</div><!-- .aside_bg -->
				</div><!-- .sidebar -->
			</aside><!-- .aside -->
			<article class="article">
				<div class="articleIn cf">
					<nav>
						<h2><img th:src="@{/images/myinfo/myinfo_nav_tit3.png}" alt="장보기"></h2>
						<p class="location">
							<img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
							<span>HOME </span>
							<span>나의정보 </span>
							<strong>정보수정</strong>
						</p><!-- .location -->
					</nav>

					<div class="form">
						<span>회원정보 설정</span>
						<table>
							<tr>
								<th>아이디</th>
								<td><span>${sessUser.uid }</span></td>
							</tr>
							<tr>
								<th>비밀번호</th>
								<td>
									<div class="form_group">
										<input type="password" id="input_password" placeholder="비밀번호 입력">
									</div>
								</td>
							</tr>
							<tr>
								<th>비밀번호 확인</th>
								<td>
									<div class="form_group">
										<input type="password" id="input_password_confirm" placeholder="비밀번호 입력확인">
										<button type="button" class="btn_modifty"><p>비밀번호 수정</p></button>
										<span class="resultPass"></span>
									</div>
								</td>
							</tr>
							<tr>
								<th>회원가입날짜</th>
								<td><span>${sessUser.regDate }</span></td>
							</tr>
						</table>

						<span>개인정보 수정</span>
						<form id="myForm" action="#" method="post" enctype="multipart/form-data">

							<table>
								<tr>
									<th>이름</th>
									<td class="form_group"><input type="text" id="input_name" name="name" placeholder="홍길동" readonly></td>
								</tr>
								<tr>
									<th>별명</th>
									<td class="form_group">
										<ul>
											<li><p>공백없는 한글, 영문, 숫자 입력</p></li>
											<li>
												<input type="text" id="input nickname" name="nick" placeholder="${sessUser.nick }" >
												<button type="button" class="btn_duplicate" placeholder="별명 입력"> <img th:src="@{/images/user/chk_id.gif}" alt="Duplicate Check" class="icon"></button>
												<span class="resultNick"></span>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th>이메일</th>
									<td class="form_group">
										<input type="email" name="email"  id="input email" placeholder="${sessUser.email }" />
										<button type="button" id="btnSendEmail"  class="btn_send"><img th:src="@{/images/user/chk_auth.gif}" alt="인증번호 받기"/></button>
										<span class="resultEmail"></span>
										<div class="auth" style="display:none">
											<input type="text" name="auth" placeholder="인증번호 입력" />
											<button type="button" id="btnAuthEmail"  class="btn_auth" ><img th:src="@{/images/user/chk_confirm.gif}" alt="확인"/></button>
											<span class="resultEmail"></span>
										</div>
									</td>
								</tr>
								<tr>
									<th>휴대폰</th>
									<td class="form_group">
										<input type="tel" id="input tel" name="hp" placeholder="${sessUser.hp }">
									</td>
								</tr>
								<tr>
									<th>주소</th>
									<td class="form_group">
										<div class="address">
											<input type="text" name="zip" id="zip" placeholder="${sessUser.zip }" readonly/>
											<button type="button" class="btnZip" onclick="postcode()"> <img th:src="@{/images/user/chk_post.gif}" class="icon" alt="우편번호 버튼"></button><!--alt="Postal check"-->
										</div>
										<div class="address">
											<input type="text" id="input_address1" class="input_address" name="addr1" placeholder="${sessUser.addr1 }" >
										</div>
										<div class="address">
											<input type="text" id="input_address2" class="input_address" name="addr2" placeholder="${sessUser.addr2 }" >
										</div>
									</td>
								</tr>
								<tr>
									<th>회원탈퇴</th>
									<td class="form_group quit">
										<button type="button" class="btn_quit"><p>탈퇴하기</p></button>
									</td>
								</tr>
							</table>



	    function checkNickDuplicate() {
	        const nick = inputNick.value;

	        if (!nick.match(reNick)) {
	            alert("별명이 유효하지 않습니다.");
	            return;
	        }

	        fetch("/FarmStory/member/checkUser.do?type=nick&value="+nick)
	            .then(response => response.json())
	            .then(data => {
	                if (data.result > 0) {
	                    alert("이미 사용 중인 별명입니다.");
	                    inputNick.focus();
	                } else {
	                    alert("사용 가능한 별명입니다.");
	                    inputNick.removeAttribute('readonly');
	                }
	            })
	            .catch(error => console.error('Error:', error));
	    }

	    document.querySelector('.btn_duplicate').addEventListener('click', checkNickDuplicate);

	    document.querySelector('.btn_quit').addEventListener('click', function() {
	        if (!checkPasswordMatch()) {
	        	alert('비밀번호를 입력해주세요!');
	        	return false;
	        }
	        const confirmQuit = confirm("정말로 회원탈퇴를 하시겠습니까?");
	        if (confirmQuit) {
	            window.location.href = "/FarmStory/member/delete.do";
	        }
	    });

	    const btnSubmit = document.querySelector('.btn_submit');

	    btnSubmit.addEventListener('click', function(event) {
	        event.preventDefault();

	        const name = inputName.value;
	        const nick = inputNick.value;
	        const email = inputEmail.value;
	        const hp = inputHp.value;
	        const zip = inputZip.value;
	        const addr1 = inputAddr1.value;
	        const addr2 = inputAddr2.value;

	        const message =
	            `다음의 정보로 수정하시겠습니까?\n\n` +
	            `이름: ${name}\n` +
	            `별명: ${nick}\n` +
	            `이메일: ${email}\n` +
	            `휴대폰: ${hp}\n` +
	            `우편번호: ${zip}\n` +
	            `주소1: ${addr1}\n` +
	            `주소2: ${addr2}`;

	        if (confirm(message)) {
	            document.querySelector('form').submit();
	        } else {
	            return false;
	        }
	    });

	    let preventDblClick = false;

		document.getElementById('btnSendEmail').onclick = async function() {
			const email = inputEmail.value;

			if (preventDblClick) {
				return;
			}

			if (!email.match(reEmail)) {
				resultEmail.innerText = "유효한 이메일이 아닙니다.";
				resultEmail.style.color = "red";
				return;
			}

			try {
				preventDblClick = true;
				const response = await fetch('/FarmStory/member/checkUser.do?type=email&value='+email);
				const data = await response.json();
				console.log(data);
				if(data.result > 0){

					resultEmail.innerText = "이미 사용중인 이메일 입니다.";
					resultEmail.style.color = "red";

				}else{
					resultEmail.innerText = "이메일 인증코드를 확인해주세요.";
					resultEmail.style.color = "green";

					auth.style.display = "inline";
				}
			} catch (e) {
				console.log(e);
			}
		};

		document.getElementById('btnAuthEmail').onclick = function() {
			const code = document.querySelector('input[name="auth"]').value;

			fetch('/FarmStory/member/checkUser.do', {
				method: 'POST',
				body: JSON.stringify({"code":code})
			})
			.then(resp => resp.json())
			.then(data => {
				if (data.result > 0) {
					resultEmail.innerText = '이메일이 인증되었습니다.';
					resultEmail.style.color = 'green';
				} else {
					resultEmail.innerText = '유효한 인증코드가 아닙니다.';
					resultEmail.style.color = 'red';
				}
			})
			.catch(err => {
				console.log(err);
			});
		};



  }

  function postcode() {
      new daum.Postcode({
          oncomplete: function(data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var addr = ''; // 주소 변수
              var extraAddr = ''; // 참고항목 변수

              //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
              if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                  addr = data.roadAddress;
              } else { // 사용자가 지번 주소를 선택했을 경우(J)
                  addr = data.jibunAddress;
              }

              // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
              if(data.userSelectedType === 'R'){
                  // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                  // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                  if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                      extraAddr += data.bname;
                  }
                  // 건물명이 있고, 공동주택일 경우 추가한다.
                  if(data.buildingName !== '' && data.apartment === 'Y'){
                      extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                  }
                  // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                  if(extraAddr !== ''){
                      extraAddr = ' (' + extraAddr + ')';
                  }
                  // 조합된 참고항목을 해당 필드에 넣는다.
                  //document.getElementById("sample6_extraAddress").value = extraAddr;

              } else {
                  document.getElementById("sample6_extraAddress").value = '';
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById('zip').value = data.zonecode;
              document.getElementById("addr1").value = addr;
              // 커서를 상세주소 필드로 이동한다.
              document.getElementById("addr2").focus();
          }
      }).open();
  }
</script>
-->
        <main>
            <div class="mainIn">
               <section class="infotable">
				   <div class="sub_bg">
					   <img th:src="@{/images/myinfo/myinfo_top_tit.png}" alt="MY INFO" class="sub_tit">
				   </div><!-- .sub_bg -->

				   <aside class="aside">
					   <div class="sidebar">
						   <div class="aside_cate">
							   <img th:src="@{/images/myinfo/myinfo_menu_tit.png}" alt="Buying in the Market 장보기">
						   </div><!-- .aside_cate -->
						   <div class="aside_bg">
							   <ul class="cate_lnb_real">
								   <li> <a href="#">장바구니</a></li>
								   <li> <a href="#">주문정보</a></li>
								   <li> <a href="#">정보수정</a></li>
							   </ul><!-- .cate_lnb -->
						   </div><!-- .aside_bg -->
					   </div><!-- .sidebar -->
				   </aside><!-- .aside -->
				   <article class="article">
					   <div class="articleIn cf">
						   <nav class="nav_bar">
							   <h2><img th:src="@{/images/myinfo/myinfo_nav_tit3.png}" alt="정보수정"></h2>
							   <p class="location">
								   <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
								   <span>HOME </span>
								   <span>나의정보 </span>
								   <strong>정보수정</strong>
							   </p><!-- .location -->
						   </nav>

						   <div class="form">
								<span>회원정보 설정</span>
								<table>
								  <tr>
									<th>아이디</th>
									<td><span>${sessUser.uid }</span></td>
								  </tr>
								  <tr>
									<th>비밀번호</th>
									<td>
										<div class="form_group">
											<input type="password" id="input_password" placeholder="비밀번호 입력">
										</div>
									</td>
								  </tr>
								  <tr>
									<th>비밀번호 확인</th>
									<td>
										<div class="form_group">
											<input type="password" id="input_password_confirm" placeholder="비밀번호 입력확인">
											<button type="button" class="btn_modifty"><p>비밀번호 수정</p></button>
											<span class="resultPass"></span>
										</div>
									</td>
								  </tr>
								  <tr>
									<th>회원가입날짜</th>
									<td><span>${sessUser.regDate }</span></td>
								  </tr>
								</table>

								<span>개인정보 수정</span>
								<form id="myForm" action="#" method="post" enctype="multipart/form-data">

									<table>
									   <tr>
											<th>이름</th>
											<td class="form_group"><input type="text" id="input_name" name="name" placeholder="홍길동" readonly></td>
										</tr>
										<tr>
											<th>별명</th>
											<td class="form_group">
												<ul>
													<li><p>공백없는 한글, 영문, 숫자 입력</p></li>
													<li>
														<input type="text" id="input nickname" name="nick" placeholder="${sessUser.nick }" >
														<button type="button" class="btn_duplicate" placeholder="별명 입력"> <img th:src="@{/images/user/chk_id.gif}" alt="Duplicate Check" class="icon"></button>
														<span class="resultNick"></span>
													</li>
												</ul>
											</td>
										</tr>
										<tr>
											<th>이메일</th>
											<td class="form_group">
												 <input type="email" name="email"  id="input email" placeholder="${sessUser.email }" />
												<button type="button" id="btnSendEmail"  class="btn_send"><img th:src="@{/images/user/chk_auth.gif}" alt="인증번호 받기"/></button>
												<span class="resultEmail"></span>
												<div class="auth" style="display:none">
													<input type="text" name="auth" placeholder="인증번호 입력" />
													<button type="button" id="btnAuthEmail"  class="btn_auth" ><img th:src="@{/images/user/chk_confirm.gif}" alt="확인"/></button>
													<span class="resultEmail"></span>
												</div>
											</td>
										</tr>
										<tr>
											<th>휴대폰</th>
											<td class="form_group">
												<input type="tel" id="input tel" name="hp" placeholder="${sessUser.hp }">
											</td>
										</tr>
										<tr>
											<th>주소</th>
											<td class="form_group">
												<div class="address">
													<input type="text" name="zip" id="zip" placeholder="${sessUser.zip }" readonly/>
													<button type="button" class="btnZip" onclick="postcode()"> <img th:src="@{/images/user/chk_post.gif}" class="icon" alt="우편번호 버튼"></button><!--alt="Postal check"-->
												</div>
												<div class="address">
													<input type="text" id="input_address1" class="input_address" name="addr1" placeholder="${sessUser.addr1 }" >
												</div>
												<div class="address">
													<input type="text" id="input_address2" class="input_address" name="addr2" placeholder="${sessUser.addr2 }" >
												</div>
											</td>
										</tr>
										<tr>
											<th>회원탈퇴</th>
											<td class="form_group quit">
												<button type="button" class="btn_quit"><p>탈퇴하기</p></button>
											</td>
										</tr>
									</table>

									<div class="button_container">
										<button type="button" class="btn-cancel">취소</button>
										<button type="submit" class="btn_submit">회원정보 수정</button>
									</div>
								</form>
						   </div>
					   </div><!-- .articleIn -->
				   </article><!-- .article -->
            	</section>
            </div>
        </main>
<th:block th:include ="/user/User_footer.html"/>
<link rel="stylesheet" th:href="@{/css/footer.css}">
