<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>글보기</title>
   <link rel="stylesheet" th:href="@{/css/community.css}">
   <link rel="stylesheet" th:href="@{/css/croptalk.css}">
   <script th:src="@{/js/utils.js}"></script>
</head>
<body>
   <div id="container">
      <th:block th:include ="/grid/_header.html"/>
      <th:block th:include ="/grid/_aside_ct.html"/>
      <script>
         window.onload = function () {

            const btnComplete = document.getElementById('btnComplete');
            const commentForm = document.commentForm;
            const commentList = document.getElementsByClassName('commentList')[0];
            const writer = document.getElementById('writer');

            btnComplete.onclick = async function (e) {
               e.preventDefault();

               const jsonData = {
                  // "userUid": commentForm.writer.value,
                   "userUid": writer.value,
                   "artNo": commentForm.artNo.value,
                   "content": commentForm.content.value
               }

               // fetchPost는 async 함수로 async 함수를 호출할때는 반드시 await 키워드 붙여서 호출
               // await 함수를 호출하는 상위 함수에서는 async 키워드를 붙여서 함수 정의
               const data = await fetchPost('/comment/write', jsonData)

               console.log(data);

               if (data != null) {
                  alert('댓글이 등록 되었습니다.');

                  // 동적 태그 생성
                  const commentArticle = `<article>
                                                <span class="nick">${data.user.userUid}</span>
                                                <span class="date">${data.commentRegDate}</span>
                                                <p class="content">${data.content}</p>
                                                <div>
                                                    <a href="#" class="remove">삭제</a>
                                                    <a href="#" class=" ">수정</a>
                                                </div>
                                            </article>`;

                  commentList.insertAdjacentHTML('beforeend', commentArticle);
               }
            }
         }
      </script>

      <section class="view">
         <h3>글보기</h3>
         <table>
            <tr>
               <td>제목</td>
               <td><input type="text" name="artTitle" id="artTitle" th:value="${articleDTO.artTitle}" readonly/></td>
<!--               <input type="hidden" th:name="b_cateNo" th:value="" />-->
<!--               <input type="hidden" th:name="group" th:value="" />-->
<!--               <td>-->
<!--                  <input type="text" th:name="title" th:value="" readonly />-->
<!--               </td>-->
            </tr>

            <!-- 첨부파일이 있으면 나타나게끔  -->
            <tr th:if="${articleDTO.artFile > 0}">
               <tr>
                  <td>첨부파일</td>
                  <td>
                     <th:block th:each="file:${articleDTO.fileList}">
                        <a th:href="@{/file/download/{fno}(fno=${file.fno})}">[[${file.oName}]]</a>&nbsp;<span>[[${file.download}]]</span>회 다운로드<br>
                     </th:block>
                  </td>
               </tr>
            </th:if>
            <tr>
<!--               <td>내용${boardDTO.b_fNo }</td>-->
                  <td>내용</td>
                  <td>
                     <textarea name="content" readonly>[[${articleDTO.artContent}]]</textarea>
                  </td>
               </tr>
               </table>

               <div>
                  <th:if test="${sessUser.uid eq articleDTO.artWriter}">
                     <a class="btnDelete">삭제</a>
                     <a th:href="@{/crop/talk/CropView}" class="btnModify">수정</a>
                     <a th:href="|/crop/${cate}|" class="btnList">목록</a>
                  </th:if>
               </div>
         <!-- 댓글리스트 -->
         <section class="commentList">
            <h3>댓글목록</h3>
               <article th:each="comment : ${comments}" class="comment">
                  <span th:text="${comment.commentNo}"></span>
                  <span th:text="${comment.user.userNick}"></span>
                  <span th:text="${comment.commentRegDate.toLocalDate()}"></span>
                  <textarea style="resize: none" name="comment" readonly th:text="${comment.content}"></textarea>

<!--                  <th:if test="${sessUser.uid eq comment.com_writer}">-->
<!--                     <div>-->
<!--                        &lt;!&ndash; HTML 사용자 정의 속성을 이용한 삭제/수정 &ndash;&gt;-->
<!--                        <a href="#" class="commentRemove" data-no="${comment.comNo}">삭제</a>-->
<!--                        <a href="#" class="commentModify" data-no="${comment.comNo}">수정</a>-->
<!--                        <a href="#" class="commentUpdate" data-n {comment.comNo}" style="display:none;">수정완료</a>-->
<!--                     </div>-->
<!--                  </th:if>-->
               </article>

            <th:block th:switch="${comments.size()}">
               <p th:case="0">등록된 댓글이 없습니다.</p>
            </th:block>

<!--            <th:if test="${empty comments}">-->
<!--               <p class="empty">등록된 댓글이 없습니다.</p>-->
<!--            </th:if>-->
         </section>

         <!-- 댓글쓰기 -->
         <section class="commentForm">
            <h3>댓글쓰기</h3>
            <form th:action="@{/comment/write}" name="commentForm" method="post">
               <input type="text" name="artNo" th:value="${articleDTO.artNo}"/>
<!--               <input type="hidden" name="writer" id="writer" th:value="${articleDTO.user.userNick}"/>-->
               <textarea name="content">댓글내용 입력</textarea>
               <div>
                  <a th:href="@{#}" class="btn btnCancel">취소</a>
                  <input type="submit" value="작성완료" id="btnComplete" class="btn btnComplete"/>
               </div>
            </form>
         </section>

        </main><!-- #main -->
        <!-- footer -->
   <th:block th:include ="/grid/_footer.html"/>
      </section>
   </div>
</body>