<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>글보기</title>
	<link rel="stylesheet" th:href="@{/css/community.css}">
	<link rel="stylesheet" th:href="@{/css/croptalk.css}">
</head>
<body>
	<div id="container">
		<th:block th:include ="/grid/_header.html"/>
		<th:block th:include ="/grid/_aside_ct.html"/>
		<section class="view">
			<h3>글보기</h3>
			<table>
				<tr>
					<td>제목</td>
<!--					<input type="hidden" th:name="b_cateNo" th:value="" />-->
<!--					<input type="hidden" th:name="group" th:value="" />-->
<!--					<td>-->
<!--						<input type="text" th:name="title" th:value="" readonly />-->
<!--					</td>-->
				</tr>

				<!-- 첨부파일이 있으면 나타나게끔  -->
				<th:if test="${boardDTO.b_fNo > 0}">
					<tr>
						<td>첨부파일</td>
						<td>
							<th:Each var="file" items="${boardDTO.boardFiles}">
								<p style="margin: 4px 0">
									<a href="#">${file.b_oName}</a>
									<span>${file.b_download}회 다운로드</span>
								</p>
							</th:Each>
						</td>
					</tr>
				</th:if>
				<tr>
					<td>내용${boardDTO.b_fNo }</td>
					<td>
						<textarea name="b_contents" readonly>${boardDTO.b_contents}</textarea>
					</td>
					</tr>
					</table>

					<div>
						<th:if test="${sessUser.uid eq boardDTO.b_writer}">
							<a href="/community/notice/delete.do?boardNo=${boardDTO.boardNo}&group=${group}&cate=${cate}" class="btnDelete">삭제</a>
							<a th:href="@{/crop/talk/CropView}" class="btnModify">수정</a>
				</th:if>
				<a href="/community/notice/list.do?pg=${pg}&group=${group}&cate=${cate}" class="btnList">목록</a>
			</div>
			<!-- 댓글리스트 -->
			<section class="commentList">
				<h3>댓글목록</h3>
				<th:forEach var="comment" items="${comments}">
					<article class="comment">
		                   		 <span>
		                            <span>${comment.nick}</span>
		                            <span>${comment.com_rdate}</span>
		                        </span>
						<textarea style="resize: none" name="comment" readonly>${comment.com_content}</textarea>

						<th:if test="${sessUser.uid eq comment.com_writer}">
							<div>
								<!-- HTML 사용자 정의 속성을 이용한 삭제/수정 -->
								<a href="#" class="commentRemove" data-no="${comment.comNo}">삭제</a>
								<a href="#" class="commentModify" data-no="${comment.comNo}">수정</a>
								<a href="#" class="commentUpdate" data-no="${comment.comNo}" style="display:none;">수정완료</a>
							</div>
						</th:if>
					</article>
				</th:forEach>
				<th:if test="${empty comments}">
					<p class="empty">등록된 댓글이 없습니다.</p>
				</th:if>
			</section>

        </main><!-- #main -->
        <!-- footer -->
	<th:block th:include ="/grid/_footer.html"/>
		</section>
	</div>
</body>