<th:block th:include ="/grid/_header.html"/>
<title>장바구니</title>
<link rel="stylesheet" th:href="@{/css/style_cart.css}">
<script>

    window.onload = function(){
        let setDelete = new Set();
        const btnSd = document.getElementsByClassName('btnSD')[0];

        let chkboxes = document.querySelectorAll('.checkbox');

        function checkboxAll(checkboxAll)  {
            const checkboxes
                = document.getElementsByClassName('checkbox');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = checkboxAll.checked;
            })
        }


        chkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('click', function() {
                if(this.checked){
                    setDelete.add(this.value);
                }else{
                    setDelete.delete(this.value);
                }
            });
        });

        btnSd.addEventListener('click',function(e){
            e.preventDefault();

            let arr = [];
            setDelete.forEach(value => {
                arr.push(value);
            });

            let formData = new FormData();

            arr.forEach(val => {
                formData.append("cart", val);
            });
            // for (let key of formData.keys()) {
            // 	  console.log(key);
            // 	}
            formData.append("action", "delete");
            fetch('/market/MarketCart', {
                method: 'POST',
                body: formData
            })
                .then(resp=>resp.json())
                .then(data=>{
                    console.log("확인해보기"+data);
                    if(data.success){
                        alert('삭제되었습니다!');
                        location.reload();
                    }else{
                        alert('실패하였습니다!');
                    }

                })
                .catch(err=>{
                    console.log(err);
                })

        });

    }
</script>
<!-- #main -->
<main id="main" class="cf">
    <section class="mainIn cf">
        <div class="sub_bg">
            <img th:src="@{/images/sub_top_tit2.png}" alt="MARKET" class="sub_tit">
        </div><!-- .sub_bg -->
        <aside class="aside">
            <div class="sidebar">
                <div class="aside_cate">
                    <img th:src="@{/images/sub_aside_cate2_tit.png}" alt="Buying in the Market 장보기">
                </div><!-- .aside_cate -->
                <div class="aside_bg">
                    <ul class="cate_lnb_real">
                        <li> <a href="#">장보기</a></li>
                    </ul><!-- .cate_lnb -->
                </div><!-- .aside_bg -->
            </div><!-- .sidebar -->
        </aside><!-- .aside -->
        <article class="article">
            <div class="articleIn cf">
                <nav>
                    <h2><img th:src="@{/images/sub_nav_tit_cate2_tit1.png}" alt="장보기"></h2>
                    <p class="location">
                        <img th:src="@{/images/sub_page_nav_ico.gif}" alt="메뉴">
                        <span>HOME </span>
                        <span>장보기 </span>
                        <strong>장보기</strong>
                    </p><!-- .location -->
                </nav>

                <h3 class="tb_tit">장바구니 전체</h3><!-- .tb_tit -->
                <table class="tb1">
                    <colgroup>
                        <col style="width: 11%">
                        <col style="width: 5%">
                        <col style="width: 10%">
                        <col style="width: 15%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                    </colgroup>
                    <tr>
                        <th><input type="checkbox" class="checkboxAll" onclick="checkboxAll(this)"/></th>
                        <th>이미지</th>
                        <th>종류</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>가격</th>
                        <th>소계</th>
                    </tr>
                    <tr th:if="${carts == null}">
                        <td colspan="10" class="td_first">장바구니에 상품이 없습니다.</td>
                    </tr>
                    <tr th:each="cart:${carts}">
                        <td><input type="checkbox" class="checkbox" onclick=""  th:value="${cart.cartNo}"/></td>
                        <td class="pic"><img th:src="@{'/uploads/'+${cart.prodDTO.prodImage1}}" alt="제품 이미지 1"></td>
                        <td>
                            <th:block th:if="${cart.prodDTO.prodCateType == 1}">
                                과일
                            </th:block>
                            <th:block th:if="${cart.prodDTO.prodCateType == 2}">
                                곡류
                            </th:block>
                            <th:block th:if="${cart.prodDTO.prodCateType == 3}">
                                야채
                            </th:block>
                        </td>
                        <td>[[${cart.prodDTO.prodName}]]</td>
                        <td>[[${cart.prodDTO.cartProdCount}]]</td>
                        <td>[[${cart.prodDTO.prodDiscount}]]%</td>
                        <td>[[${cart.prodDTO.prodPoint}]]p</td>
                        <td>[[${cart.prodDTO.prodPrice}]]원</td>
                        <td><strong>[[${(cart.prodDTO.prodPrice - (cart.prodDTO.prodPrice * cart.prodDTO.prodDiscount / 100)) * cart.prodDTO.cartProdCount}]]</strong>원</td>
                    </tr>
                </table><!-- .tb1 -->
                <button class="btnSD"><a href="#">선택삭제</a></button>
                <div class="order_final">
                    <table class="tb2">
                        <tr>
                            <th colspan="2">전체합계</th>
                        </tr>
                        <tr>
                            <td>상품수</td>
                            <td>0개</td>
                        </tr>
                        <tr>
                            <td>상품금액</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>할인금액</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>배송비</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>포인트 적립</td>
                            <td>0p</td>
                        </tr>
                        <tr>
                            <td>전체주문금액</td>
                            <td>0원</td>
                        </tr>
                    </table><!-- .tb2 -->
                    <button class="btn_order"><a th:href="@{/market/MarketOrder12(userId=${#authentication.principal.user.userUid})}">주문하기</a></button>
                </div><!-- .order_final -->

            </div><!-- .articleIn -->
        </article><!-- .article -->
    </section>
</main><!-- #main -->

<th:block th:include ="/grid/_footer.html"/>

